.our-project {
    position: relative;
    z-index: 1;
    background: #080808;
    margin-top: 140px;
    padding-top: 10%;
    &__wrap {
        width: 35%;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    &__block-name{
        left: -105.5%;
        top: 57px;
    }

    &__title {
    }

    &__text {
        margin-top: 35px;
    }

    &__galery {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 8px;
        margin-top: 10%;
    }
    &__galery-decor-text{
        position: absolute;
        z-index: 2;
        top: -41px;
        left: 22%;
        font-size: 56px;
        opacity: 0.06;
    }
    &__block {
        position: relative;
        z-index: 3;
        height: 100%;
    }

    &__picture {
        & img{
            width: 100%;
            height: 100%;  
        }
    }
}   

@media (min-width: 1101px) {
    .block:hover .block__inner{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 0.5s ease, transform 0.3s ease, visibility 0.5s;
    }
}


.block {
    
    &__inner {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 32px;
        display: flex;
        width: 100%;

        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
    }

    &__top {
        display: flex;
        gap: 24px;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.71;
    }

    &__foot {
    }

    &__title {
        font-size: 22px;
        line-height: 1.27;
    }

    &__btn-more {
        display: none;
        pointer-events: auto;
        width: fit-content;
        &::before{
            background: rgba(255, 255, 255, 0.4);
        }
        &::after{
            background: rgba(255, 255, 255, 0.4);
            width: 63px;
        }
    }
}



.block_mobile {
    display: none;
}
.block_large {
    grid-column: span 2 ;
}
.block-more {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    &__title {
        margin-top: -7.5%;
        font-size: 22px;
        line-height: 127%;
        color: #080808;
    }
    &__picture-link{
        width: 37%;
        & img{
            width: 100%;
        }
    }
}

@media (max-width: 1100px){
    .our-project {
        padding-top: 10.4%;
        &__wrap {
            width: 50%;
        }
        &__block-name{
            left: -62%;
        }
        &__text {
            margin-top: 25px;
        }
        &__galery {
            margin: 12.9% -2px 0 2px;
            grid-gap: 6px;
        }
        &__galery-decor-text{
            display: none;
        }
    }
    .block{
        &__inner {
            // display: flex;
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            padding: 31px 0 35px 30px;
            // width: 100%;
        }
        &__top{
            margin-left: 6px;
            gap: 24px;
            font-weight: 500;
            font-size: 11px;
        }
        &__title{
            font-size: 20px;
            color: #fafafa;
        }
        &__btn-more {
            display: flex;
            margin-top: 6%;
        }
    }
    .block_large{
        & .block__top{
            gap: 16px;
        }
        & .block__foot{
            display: flex;
            align-items: center;
            margin: 0 0 -7px 4px;
            justify-content: space-between;
        }
        & .block__title{
            width: 30%;
        }
        & .btn-more{
            margin: 0 8.5% 6px 0;
            align-self: flex-end;
        }
    }
    .block-more {
        &__title {
            font-size: 20px; 
            margin-top: -12%;
        }
    }

}
@media (max-width: 850px){
    .our-project {
        margin-top: 97px;
        padding-top: 13.8%;
        &__wrap {
            width: 68%;
        }
        &__block-name{
            left: -36%;
        }
        &__galery {
            // margin-top: 15%;
            margin: 14.5% 0 0 0;
            grid-template-columns: 1fr;
        }
    }
    .block{ 
        &__inner {
            padding: 29px 0 35px 30px;
        }
        &__top{
            margin: 0;
            gap: 17px;
        }
        &__btn-more {
            display: flex;
            margin-top: 4%;
        }
    }
    .block-more {
        &__title {
            margin-top: 0;
        }
    }
    .block_large {
        grid-column: span 1 ;    
    }
}
@media (max-width: 650px){

}
@media (max-width: 450px){
    .our-project {
        margin-top: 63px;
        padding-top: 22%;
        &__wrap {
            width: 100%;
            text-align: left;
        }
        &__text{
            margin-top: 20px;
        }
        &__galery {
            margin-right: 3px;
            margin-top: 24.1%;
            grid-gap: 7px;
        }
    }
    .block{ 
        &__inner {
            padding: 22px 0 26px 23px;
        }
        &__top{
            // gap: 17px;
            margin-left: 0;
        }
        &__foot{
            width: 90%;
        }
        &__btn-more {
            margin-top: 4%;
        }
    }
    .block_mobile{
        display: block;
    }
    .block-more{ 
        gap: 18px;
        &__title {
            margin-top: 4px;
        }
    }
}
