.hero {
   padding-top: 7%;
   color: #000;

    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 8%;
    }

    &__title {
        font-size: 36px;
        margin: 6px 0 0 10%;
    }

    &__wrap {
        width: 35%;
        margin-right: 9.5%;
    }

    &__text {
        color: #080808;
    }

    &__dropdown-btn{
        position: relative;
        display: none;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: #080808;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding-inline: 10px;

        width: 128px;
        height: 29px;

        border: 1px solid #c4c4c4;
        border-radius: 88px;
    }
    &__dropdown-list{
        position: absolute;

        z-index: 3;
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 10px 15px;
        background: rgb(181, 181, 181, 0.6);
        left: 50%;
        transform: translateX(-50%);
        bottom: 32px;
        border-radius: 8px;
        width: 100%;
            &.active{
                display: flex;
            }
    }
    &__list {
        font-weight: 600;
        font-size: 11px; 
        letter-spacing: 0.06em;
        color: #828282;
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 37px;
    }

    &__list-item {
        padding-bottom: 2px;
        transition: color 0.3s ease, border-color 0.3s ease;
        &.active{
            color: #080808;
            border-bottom: 1px solid  rgb(58, 62, 75, 0.8);
            margin-bottom: -1px;
        }
        & a:focus-visible{
            border: 1px dashed grey;
        }
    }
}

@media (max-width: 1100px){
    .hero {
        // padding-bottom: 0px;
        &__row{
            flex-direction: column;
            margin: 9.4% 0 0 11%;
        }
        &__title {
            font-size: 32px;
            margin: 0;
        }
    
        &__wrap {
            // display: flex;
            width: 60%;
            margin: 18px 0 0 0;
        }
        &__list {
            margin: 37px 0 0 2px;
            letter-spacing: normal;
        }
    }

}
@media (max-width: 850px){
    .hero {
        // padding-bottom: 0px;
        &__row{
            flex-direction: column;
            margin: 13.4% 0 0 10%;
        }
        &__title {
            font-size: 32px;
            margin: 0;
        }
    
        &__wrap {
            // display: flex;
            width: 88%;
            margin: 16px 0 0 0;
        }
    }

}
@media (max-width: 650px){
    .hero {
        // padding-bottom: 0px;
        &__dropdown-btn{
            display: flex;
            margin-top: 27px;
            // display: block;
        }
        &__list {
            display: none;
        }
    }

}
@media (max-width: 450px){
    .hero {
        // padding-bottom: 0px;
        &__row{
            flex-direction: column;
            margin: 28.4% 0 0 0;
        }
        &__title {
            font-size: 26px;
        }
    
        &__wrap {
            width: 100%;
            margin: 16px 0 0 0;
        }
    }
}


