.request-projects{
    background: #fafafa;
    color: #080808;
    padding: 12.5% 8.5% 16% 9.1%;
}
.request__btn{
    background: #fafafa;
    border: 1px solid rgb(8, 8, 8, 0.32);
}

.request__galery {
    top: 38.4%;
}

@media (max-width: 1100px){
    .request-projects{
        padding: 10.8% 0 17.1% 0;
    }
}
@media (max-width: 850px){
    .request-projects{
        padding: 10.2% 0 20% 0;
    }
}
@media (max-width: 650px){
    .request-projects{
        padding: 11.5% 0 14% 0;
    }
}
@media (max-width: 450px){
    .request-projects{
        padding: 11.5% 0 45% 0;
    }
    .request__text {
        margin-top: 15px;
    }
}
