.request-projects{
    background: #fafafa;
    color: #080808;
    & .request__btn{
        background: #fafafa;
        border: 1px solid #080808;
    }
}

@media (max-width: 1100px){
    .request-projects{
        padding: 10.5% 0 17.6% 0;
    }
}
@media (max-width: 850px){
    .request-projects{
        padding-bottom: 19.5%;
    }
}
@media (max-width: 650px){
    .request-projects{
        padding: 11.5% 0 14% 0;
    }
}
@media (max-width: 450px){
    .request-projects{
        padding: 12.5% 0 43% 0;
    }
}
