.news__send{
    margin-top: 9.8%;
    padding: 9.5% 0 13% 0;
}
.send {
    position: relative;

    &__wrapper {
        position: relative;
        z-index: 2;
        margin-left: 10.4%;
    }

    &__title {
        width: 38%;
        line-height: 142%;
    }
    &__inner{
        margin: 27px 0 0 56.3%;
    }
    &__text {
        width: 70%;
        
    }

    &__form {
        margin-top: 35px;
        background: inherit;
        font-weight: 300;
        font-size: 20px;
        line-height: 171%;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 4px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 380px;
        position: relative;
    }

    &__form-text {
        opacity: 0.7;
    }

    &__form-input {
        background: inherit;
        opacity: 0.7;
        flex-grow: 2;
    }

    &__form-btn{
        height: 15px;
        & img{
            opacity: 0.5;
        }
    }

    &__mail-error{
        position: absolute;
        z-index: 2;
        color: #fff;
        background: red;
        font-size: 12px;
        line-height: 1;
        border-radius: 4px;
        padding: 4px 8px;
        top: 105%;
        display: none;
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            width: 6px;
            height: 6px;
            background: red;
            top: calc(0% - 3px);
            left: 35%;
            transform: rotate(45deg);
        }
        &:not(:empty) {
            display: block;
        }
    }

    &__bg{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        & img{
            width: 100%;
            height: 100%;
            
        }
    }
}

@media (max-width: 1100px){
    .news__send{
        margin-top: 12.2%;
        padding: 12% 0 17.2% 0;
    }
    .send {
        &__wrapper {
            margin-left: 11%;
        }

        &__title {
            width: 44%;
            line-height: 122%;
        }
        &__inner{
            margin: 23px 0 0 45.3%;
        }
        &__text {
            width: 80%;
            
        }
    
        &__form {
            margin-top: 23px;
            font-size: 16px;
            width: 338px;
        }
    }

}
@media (max-width: 850px){
    .news__send{
        margin-top: 13.7%;
        padding: 13.6% 0 20.2% 0;
    }
    .send {
        &__wrapper {
            margin-left: 11%;
        }

        &__title {
            width: 60%;
        }
        &__inner{
            margin: 20px 0 0 0;
        }
        &__text {
            width: 85%;
        }
    
        &__form {
            margin-top: 36px;
            line-height: 171%;
            width: 87%;
        }
    }
}
@media (max-width: 650px){
    .news__send{
        margin-top: 21.5%;
        padding: 21.6% 0 41.5% 0;
    }
    .send {
        &__wrapper {
            margin-left: 0;
        }

        &__title {
            width: 90%;
        }
        &__inner{
            margin: 22px 0 0 0;
        }
        &__text {
            width: 96%;
        }
    
        &__form {
            margin-top: 33px;
            width: 99%;
        }
    }
}
@media (max-width: 450px){

}